.estado{
  display:flex;
  justify-content:center !important;
}

.sin-asignar, .cancelado, .pendiente, .procesando, .finalizado, .vacio{
  border-radius: 24px;
  width:70%;
  text-align:center;
  justify-content:center;
  align-items:center;
  height:30px;
  display:flex;
  transition: all 0.3s ease-out;
  cursor:pointer;
}

.sin-asignar {
    background-color: #ff6363a0; 
  }
    .sin-asignar:hover{
      background-color: #a13838a0;
    }
  
  .cancelado {
    background-color: #00000067; 
  }
  .cancelado:hover {
    background-color: #00000099; 
  }
  
  .pendiente {
    background-color: #e8be18a3; 
    
  }
    .pendiente:hover{
      background-color: #c09d10a3;
    }
  
  .procesando {
    background-color: rgba(0, 151, 197, 0.371);
  }
    .procesando:hover{
      background-color: rgba(0, 89, 116, 0.371);
    }
  
  .finalizado {
    background-color: rgba(15, 164, 1, 0.368); 
  }
  .finalizado:hover{
    background-color: rgba(8, 98, 0, 0.368); 
  }
